/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWE 0
#define NUM 1
#define SYM 2
#define FUN 3
#define NAV 4
#define GAM 5

&mt {
    tapping-term-ms = <400>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                QWE {
                        bindings = <
   &trans	&kp Q		&kp W 		&kp E 		&kp R 		&kp T   &kp Y 		&kp U 		&kp I     		&kp O   		&kp P    	&trans
   &trans	&mt LALT A	&mt LSHFT 	&mt LCTRL D	&lt SYM F	&kp G   &kp H 		&lt SYM J 	&mt RCTRL K		&mt RSHFT L		&mt LALT SEMI 	&trans
   &trans	&kp Z		&kp X 		&kp C 		&kp V 		&kp B   &kp N 		&kp M 		&kp COMMA 		&kp DOT 		&kp FSLH 	&trans
   						&mt FUN TAB	&kp LGUI 	&mt NUM RET 					&mt NAV ESC &kp SPACE 	&kp BSPC
                        >;
                };

                NUM {
                        bindings = <
   &trans	&kp Q		&kp W 		&kp E 		&kp R 		&kp T   &kp Y 		&kp U 		&kp I     		&kp O   		&kp P    	&trans
   &trans	&mt LALT A	&mt LSHFT 	&mt LCTRL D	&lt SYM F	&kp G   &kp H 		&lt SYM J 	&mt RCTRL K		&mt RSHFT L		&mt LALT SEMI 	&trans
   &trans	&kp Z		&kp X 		&kp C 		&kp V 		&kp B   &kp N 		&kp M 		&kp COMMA 		&kp DOT 		&kp FSLH 	&trans
   						&mt FUN TAB	&kp LGUI 	&mt NUM RET 					&mt NAV ESC &kp SPACE 	&kp BSPC
                        >;
                };

                SYM {
                        bindings = <
   &trans	&kp Q		&kp W 		&kp E 		&kp R 		&kp T   &kp Y 		&kp U 		&kp I     		&kp O   		&kp P    	&trans
   &trans	&mt LALT A	&mt LSHFT 	&mt LCTRL D	&lt SYM F	&kp G   &kp H 		&lt SYM J 	&mt RCTRL K		&mt RSHFT L		&mt LALT SEMI 	&trans
   &trans	&kp Z		&kp X 		&kp C 		&kp V 		&kp B   &kp N 		&kp M 		&kp COMMA 		&kp DOT 		&kp FSLH 	&trans
   						&mt FUN TAB	&kp LGUI 	&mt NUM RET 					&mt NAV ESC &kp SPACE 	&kp BSPC
                        >;
                };

                FUN {
                        bindings = <
   &trans	&kp Q		&kp W 		&kp E 		&kp R 		&kp T   &kp Y 		&kp U 		&kp I     		&kp O   		&kp P    	&trans
   &trans	&mt LALT A	&mt LSHFT 	&mt LCTRL D	&lt SYM F	&kp G   &kp H 		&lt SYM J 	&mt RCTRL K		&mt RSHFT L		&mt LALT SEMI 	&trans
   &trans	&kp Z		&kp X 		&kp C 		&kp V 		&kp B   &kp N 		&kp M 		&kp COMMA 		&kp DOT 		&kp FSLH 	&trans
   						&mt FUN TAB	&kp LGUI 	&mt NUM RET 					&mt NAV ESC &kp SPACE 	&kp BSPC
                        >;
                };

                NAV {
                        bindings = <
   &trans	&trans 		&kp W 		&kp E 		&kp R 		&kp T   		&trans 		&kp HOME 	&kp END 	&trans   	&kp SLCK    	&trans
   &trans	&kp LALT	&mt LSHFT 	&mt LCTRL D	&lt SYM F	&kp G   		&kp LEFT	&kp DOWN 	&kp UP		&kp RIGHT	&kp PSCRN 	&trans
   &trans	&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR	&trans 		&kp PG_DN 	&kp PG_UP 	&trans 		&kp PAUSE_BREAK 	&trans
   						&mt FUN TAB	&kp LGUI 	&mt NUM RET 					&mt NAV ESC &kp SPACE 	&trans
                        >;
                };

                GAM {
                        bindings = <
   &trans	&kp Q		&kp W 		&kp E 		&kp R 		&kp T   &kp Y 		&kp U 		&kp I     		&kp O   		&kp P    	&trans
   &trans	&mt LALT A	&mt LSHFT 	&mt LCTRL D	&lt SYM F	&kp G   &kp H 		&lt SYM J 	&mt RCTRL K		&mt RSHFT L		&mt LALT SEMI 	&trans
   &trans	&kp Z		&kp X 		&kp C 		&kp V 		&kp B   &kp N 		&kp M 		&kp COMMA 		&kp DOT 		&kp FSLH 	&trans
   						&mt FUN TAB	&kp LGUI 	&mt NUM RET 					&mt NAV ESC &kp SPACE 	&kp BSPC
                        >;
                };
		};
};
